body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f8ec;
}

.container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  height: 600px;
  background-color: #e5ffe5;
  border: 2px solid #b7d4b7;
}

.left-panel {
  flex: 1;
  padding: 20px;
  background-color: #ccffd5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 80px;
  height: 80px;
  background-color: #008000;
  border-radius: 50%;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  color: #006600;
}

.description {
  margin-top: 10px;
  font-size: 14px;
  color: #004d00;
  text-align: center;
}

.menu {
  margin-top: 20px;
  list-style: none;
  padding: 0;
  color: #004d00;
}

.menu li {
  margin-bottom: 10px;
}

.right-panel {
  flex: 1;
  background-color: #ccffe5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #008000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005700;
}

.section {
  display: none;
  margin: 20px;
}

.section h2 {
  margin-top: 0;
}



